@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap);
*{scroll-behavior:smooth;}
body{
font-family: open sans,roboto, sans-serif;
line-height:1.625;
  font-size: 15px;
  color: #444;
  margin: 0;
  background-color: #efe9e9;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
