{{ define "main" }}
<div class="text-center">
    <h1>Welcome to POP Slots Freebies!</h1>
    <p>Get daily freebies like pop slots chips, spins, and more at Pop Slots Freebies! Claim now for exciting gameplay and big wins! #1 source for pop slots freebies! No need for complex registrations.</p>
</div>

<div class="mt-5">
    <h2 class="text-center">Today Most Popular Games Freebies</h2>
    <div class="row">
        {{ range .Site.RegularPages }}
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">{{ .Params.description }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
