<style>
    .post-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Added to distribute space between items */
    }

    .post-summary {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 5px 0;
        border-radius: 8px;
        background-color: #fff;
        overflow: hidden;
        flex: 1 1 100%;
        box-sizing: border-box;
    }

    .post-summary-image {
        position: relative;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .post-summary-image img {
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }

    .post-summary-image button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .post-summary-content h2 {
        margin: 0 0 10px 0;
        font-size: 1.2em;
    }

    .post-summary-content p {
        margin: 0;
        font-size: 1em;
    }

    @media (min-width: 768px) {
        .post-summary {
            flex: 1 1 calc(50% - 10px);
            margin: 10px; /* Changed to margin for uniform spacing */
        }

        .post-summary:nth-child(2n) {
            margin-right: 10px; /* Adjust for spacing between pairs */
        }
    }
</style>

<div class="post-container">
    <div class="post-summary">
        <div class="post-summary-image">
            <a href="{{ .Permalink }}">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
            <button>Claim Now</button>
            </a>
        </div>
        <div class="post-summary-content">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>{{ .Summary }}</p>
        </div>
    </div>
</div>
