{{ define "main" }}
<div class="container mt-4">
    <div class="row">
        {{ range .Site.RegularPages }}
            {{ if eq .Type "post" }}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                            {{ with .Params.image }}
                                <img src="{{ . }}" class="card-img" alt="{{ $.Title }}" style="max-width: 80px; max-height: 80px; margin: 10px;">
                            {{ end }}
                            <a href="{{ .RelPermalink }}" class="btn btn-primary btn-sm mt-2 mb-2">Claim Now</a>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
             <a href="{{ .RelPermalink }}">
<h5 class="card-title" style="font-size: 1rem;">{{ .Title }}</h5>
</a>
                                <p class="card-text" style="font-size: 0.9rem;">{{ .Summary }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
