{{ define "main" }}
<div class="container">
    <h1 class="my-4">{{ .Title }}</h1>
    <p>{{ .Content }}</p>
    <div class="row">
        {{ range .Site.RegularPages }}
            {{ if eq .Type "post" }}
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="row g-0">
                        <div class="col-4">
                            <img class="img-fluid rounded-start" src="{{ .Params.image }}" alt="{{ .Title }}">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ .Title }}</h5>
                                <p class="card-text">{{ .Params.summary }}</p>
                                <a href="{{ .RelPermalink }}" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
