<table class="reward">
  <thead>
    <tr>
      <th class="bg-dark">Date</th>
      <th class="bg-dark">Bonus Links</th>
      <th class="bg-dark">User</th>
    </tr>
  </thead>
  <tbody>
<tr>
<td class="date">5 June 2024</td>
<td><a href="https://bit.ly/3wJORNo" >https://bit.ly/3wJORNo</a></td>
<td>Browser</td>
</tr>
<tr>
<td class="date">5 June 2024</td>
<td><a href="https://bit.ly/3X4rk4x" >https://bit.ly/3X4rk4x</a></td>
<td>Mobile</td>
</tr>
<tr>
<td class="date">4 June 2024</td>
<td><a href="https://bit.ly/3X4r4m5"> https://bit.ly/3X4r4m5</a></td>
<td>Browser</td>
</tr>
<tr>
<td class="date">4 June 2024</td>
<td><a href="https://bit.ly/4bW4Kze" >https://bit.ly/4bW4Kze</a></td>
<td>Mobile</td>
</tr>
<tr>
<td class="date">4 June 2024</td>
<td><a href="https://bit.ly/3X4r4m5" >https://bit.ly/3X4r4m5</a></td>
<td>Browser</td>
</tr>
<tr>
<td class="date">4 June 2024</td>
<td><a href="https://bit.ly/4bW4Kze" >https://bit.ly/4bW4Kze</a></td>
<td>Mobile</td>
</tr>
<tr>
<td class="date">3 June 2024</td>
<td><a href="https://bit.ly/3Kljmwk" >https://bit.ly/3Kljmwk</a></td>
<td>Browser</td>
</tr>
<tr>
<td class="date">3 June 2024</td>
<td><a href="https://bit.ly/3R56Btn" >https://bit.ly/3R56Btn</a></td>
<td>Mobile</td>
</tr>
<tr>
<td class="date">2 June 2024</td>
<td><a href="https://bit.ly/3KgG4p8" >https://bit.ly/3KgG4p8</a></td>
<td>Browser</td>
</tr>
<tr>
<td class="date">2 June 2024</td>
<td><a href="https://bit.ly/3x3Fzvw" >https://bit.ly/3x3Fzvw</a></td>
<td>Mobile</td>
</tr>
<tr>
<td class="date">1 June 2024</td>
<td><a href="https://bit.ly/3Kjv8XT" >https://bit.ly/3Kjv8XT</a></td>
<td>Browser</td>
</tr>
<tr>
<td class="date">1 June 2024</td>
<td><a href="https://bit.ly/3yCGDHo" >https://bit.ly/3yCGDHo</a></td>
<td>Mobile</td>
</tr>
<tr>
<td class="date">1 June 2024</td>
<td><a href="https://bit.ly/3UXLoTs" >https://bit.ly/3UXLoTs</a></td>
<td>Browser</td>
</tr>
<tr>
<td class="date">1 June 2024</td>
<td><a href="https://bit.ly/4dZxusI" >https://bit.ly/4dZxusI</a></td>
<td>Mobile</td>
</tr>

</tbody>
</table>